amqp==5.3.1
asgiref==3.5.2
async-timeout==5.0.1
billiard==4.2.1
CacheControl==0.14.2
cachetools==5.5.2
celery==5.4.0
certifi==2023.5.7
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==44.0.2
distlib==0.3.9
Django==4.1.2
django-appconf==1.0.5
django-compressor==4.1
django-cors-headers==3.13.0
django-debug-toolbar==3.7.0
django-filter==23.2
django-libsass==0.9
django-stubs==4.2.3
django-stubs-ext==4.2.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djangorestframework-stubs==3.14.2
filelock==3.17.0
firebase-admin==6.6.0
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
grpcio==1.70.0
grpcio-status==1.70.0
gunicorn==21.2.0
httplib2==0.22.0
identify==2.6.7
idna==3.4
kombu==5.4.2
libsass==0.22.0
msgpack==1.1.0
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==23.1
Pillow==9.2.0
platformdirs==4.3.6
pre_commit==4.1.0
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.6.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2022.4
PyYAML==6.0.2
rcssmin==1.1.0
redis==5.2.1
requests==2.31.0
rjsmin==1.2.0
rsa==4.9
ruff==0.9.6
six==1.17.0
sqlparse==0.4.3
tomli==2.0.1
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.7.1
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.0.3
vine==5.1.0
virtualenv==20.29.2
wcwidth==0.2.13
