@import url('https://fonts.googleapis.com/css?family=Island+Moments&display=swap');


.navbar-nav .nav-link.active {
    color: #1D8044;
}

.card a {
    text-decoration: none;
    color: black;
}

.footer-text {
    margin: auto auto;
}

.card img {
    height: 200px;
}

.card {
    background-color: #E9EAE4;
    background-color: #91B1F5;
    background: radial-gradient( #91DCF1 0%, #ECCBCB 100%);


}

section {
    background: linear-gradient(90deg, #D4A6A6 4%, #77C3AC 55%, #8695D4 97%);
    background: linear-gradient(174deg, #B299A5 0%, #C3AFA2 50%, #53669E 77%);
    background: linear-gradient(174deg, #AB7C93 0%, #9090A0 50%, #677290 100%);

    min-height: 100vh !important;
    min-width: 100vw !important;

}


footer {
    background-color: #e3d2fd;
    background-color: #B59ABF;
    background: radial-gradient( #A95E5E 0%, #5082A5 100%);
    background: radial-gradient( #BF9494 0%, #B38AD6 100%);
    background: linear-gradient(90deg, #AAB17B 0%, #AD99C3 100%);

}

.user-icon {
    width: 45px;
    height: 45px;
}

.footer-img {
    width: 60px;
    height: 60px;
}

input[type="search"] {
    background-color: #DDDECF;
    border: none;
}

.bdvideo video {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;

}

.bdvideo {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-text {
    z-index: 2;
}


.page-link {
    color: #1D8044;
    background: none;
    border: none;
}

.page-link:hover {
    background-color: #A591AF;


}

.page-link:onclick {
    background-color: #77C3AC;
    border: none;
}


.trash {
    background: linear-gradient(90deg, #739C92 0%, #4E709C 100%);
    background: linear-gradient(90deg, #689C90 11%, #AB677C 54%, #4E61A7 90%);
    background: linear-gradient(90deg, #539E79 11%, #984A65 54%, #4E61A7 90%);
    background: linear-gradient(90deg, #D48C8C 0%, #ACEAE7 100%);
}

.reg-button {
    text-decoration: none;
    color: #1D8044;
    border-style: solid;
    border-width: 0.5px;
    padding: 0.5em;

}

.profile-icon {
    width: 150px;
    height: 150px;
}

.profile-btn {
    background-color: #8EA096;

}

.profile-btn:hover {
    background-color: #8C8196;


}

.profile-container {
    border-radius: 10px;
    background-color: #8EA096;

}

.pagination {
    color: #D6CBF7;
    color: #7F65D0;
    color: #338EE6;
    color: #71B4F5;
    color: #D7DABB;
}

.tournament-link {
    text-decoration: none;
}


body {
	 background-color: DarkSalmon;
}
 .wrapper {
	 display: flex;
	 height: 600px;
	 justify-content: center;
}
 .item {
	 display: flex;
	 flex-direction: row-reverse;
}
 .item p {
	 padding: 20px;
	 margin: 0;
	 background-color: Beige;
}
 .item-parent {
	 position: relative;
	 margin-left: 60px;
	 display: flex;
	 align-items: center;
}
 .item-parent:after {
	 position: absolute;
	 content: '';
	 width: 30px;
	 height: 2px;
	 left: 0;
	 top: 50%;
	 background-color: #fff;
	 transform: translateX(-100%);
}
 .item-childrens {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 .item-child {
	 display: flex;
	 align-items: flex-start;
	 justify-content: flex-end;
	 margin-top: 5px;
	 margin-bottom: 5px;
	 position: relative;
}
 .item-child:before {
	 content: '';
	 position: absolute;
	 background-color: #fff;
	 right: 0;
	 top: 50%;
	 transform: translateX(100%);
	 width: 30px;
	 height: 2px;
}
 .item-child:after {
	 content: '';
	 position: absolute;
	 background-color: #fff;
	 right: -30px;
	 height: calc(50% + 22px);
	 width: 2px;
	 top: 50%;
}
 .item-child:last-child:after {
	 transform: translateY(-100%);
}
 .item-child:only-child:after {
	 display: none;
}
